<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kaggle UFC Battle Fight Data: Swack!</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<style>
    body {
        background-image: url('images/Fig1.png');
    }
    form {
    margin: auto;
    width: 35%;
    }
    .result {
        margin: auto;
        width: 35%;
        border: 1px solid #ccc;
    }
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightgrey;">
    <div class="container-fluid">
        <a class="navbar-light bg-secondary text-white m-2 pl-2 pr-2" href="index.html">Main Page</a>
        <button class="navbar navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Machine Learning</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="LogisticRegression.html" target="_blank">Logistic Regression</a>
                        <a class="dropdown-item" href="?.html" target="_blank">?</a>
                        <a class="dropdown-item" href="?.html" target="_blank">?</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visualizations</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="visualizations.html" target="_blank">Bar Charts</a>
                        <a class="dropdown-item" href="visualizations2.html" target="_blank">Interactive Charts</a>
                        <a class="dropdown-item" href="nell.html" target="_blank">Nell</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="data.html" target="_blank">Data</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="thumbnail">
    <br>
    <h1 class="text" align="center">UFC</h1>
    <br>
    <br>
    <br>
    <br>

    <h2 class="text" align="center"> TEXT HERE</h2>
</div>

</div>

</body>


</html>